{% extends 'socialmedia/_base.html' %} {% load socialaccount %}

{% block content %}

<div class="container" style="text-align: center; padding-top: 10%;">
  <h1>Social Media Login</h1>

  <br /><br />

  {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }} !!!</h3>
    <br /><br />
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
  {% else %}
  <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
    <i class="fa fa-github fa-fw"></i>
    <span>Login with GitHub</span>
  </a>
  <a href="{% provider_login_url 'google' %}" class="btn btn-secondary">
    <i class="customGPlusSignIn"></i>
    <img class="google-icon-svg" 
    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
    style="width:15px;height:15px;"
    />
    <span >Login With Google</span>
  </a>
  {% endif %}
</div>

{% endblock content %}